<div class="container-fluid white header--fixed hide-from-print" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="col-md-7 col-md-push-5 hidden-xs hidden-sm">
  
  <ul class="nav navbar-nav navbar-right social">

          <li><a href="http://facebook.com/killianjewelry" target="_blank"><i class="fa fa-facebook fa-4x" id="socialwater"></i></a></li>
          <li><a href="http://twitter.com/killianjewelry" target="_blank"><i class="fa fa-twitter fa-4x" id="socialwater"></i></a></li>
      <li><a href="http://instagram.com/killianjewelry"><i class="fa fa-instagram fa-4x" id="socialwater"></i></a></li>
                   <li><a href="http://pinterest.com/killianjewelry" target="_blank"><i class="fa fa-pinterest fa-4x" id="socialwater"></i></a></li>
                
      </ul>


      </div>

       <div class="col-md-7 col-md-push-5 visible-sm">
        <br>
  

<ul class="nav navbar-nav navbar-right social">
 
          <a href="http://facebook.com/killianjewelry" target="_blank"><i class="fa fa-facebook fa-4x" id="socialwater"></i></a>
          <a href="http://twitter.com/killianjewelry" target="_blank"><i class="fa fa-twitter fa-4x" id="socialwater"></i></a>
      <a href="http://instagram.com/killianjewelry"><i class="fa fa-instagram fa-4x" id="socialwater"></i></a>
                    <a href="http://pinterest.com/killianjewelry" target="_blank"><i class="fa fa-pinterest fa-4x" id="socialwater"></i></a>
               
</ul>

      </div>
  
      <div class="col-sm-7 col-md-push-5 visible-xs">

          <a href="http://facebook.com/killianjewelry" target="_blank"><i class="fa fa-facebook fa-2x" id="socialwater"></i></a>
          <a href="http://twitter.com/killianjewelry" target="_blank">><i class="fa fa-twitter fa-2x" id="socialwater"></i></a>
      <a href="http://instagram.com/killianjewelry"><i class="fa fa-instagram fa-2x" id="socialwater"></i></a>
                    <a href="http://pinterest.com/killianjewelry" target="_blank"><i class="fa fa-pinterest fa-2x" id="socialwater"></i></a>
               



      </div>
      <div class="col-md-5 col-md-pull-7">
        <a href="/"><img src="/img/coolgrey.jpg" class="img-responsive logo"></a>
      </div>
</div>
    </div>
    <div class="row">
      <div class="col-md-12">     <nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

   <button type="button" class="navbar-toggle collapsed tops" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

        <span class="sr-only">Toggle navigation</span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 
      <span class="navbar-brand"></span>

    </div>

   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
      
<li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/">HOME</a></li>   
 <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="{{ site.baseurl }}/about/">ABOUT</a></li>  
        <li class="{% if page.url == '/shop.html' %}active{% endif %}"><a href="http://killian.corecommerce.com">SHOP</a></li>
           <li class="{% if page.url == '/storelocator/' %}active{% endif %}"><a href="{{ site.baseurl }}/storelocator/">FIND A RETAILER</a></li>
        <li class="{% if page.url == '/blog/' % or page.layout contains 'post' %}active{% endif %}"><a href="{{ site.baseurl }}/blog/">BLOG</a></li>
        <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="{{ site.baseurl }}/contact/">CONTACT</a></li>
 
      </ul>
  

</nav>
 </div>
      </div>
    </div>
  </div>
</div>