						</div> <!-- .content-middle -->
						



						<div id="content-left" class="content__left content__side">
							<div class="content-left__inner l-w-mx-m center-horizontally">
								##LEFT_WIDGETS_V2##
							</div> <!-- .content-left__innner -->
						</div> <!-- #content-left -->
					</div> <!-- .left-and-middle-content-wrapper -->
					<div id="content-right" class="content__right content__side">
						<div class="content-right__inner l-w-mx-m">
							##RIGHT_WIDGETS_V2##
						</div> <!-- .content-left__inner -->
					</div> <!-- #content-right -->
				</div> <!-- .content -->
				<div id="footer" class="footer-container">
					##HORIZONTAL_IMAGE##
					##FOOTER_CONTENT##
				</div> <!-- #footer -->
			</div> <!-- .frame -->
		</div> <!-- .container -->
	

		##ANALYTICS##

      <script src="##MERCHANT_URL##/00302-1/design/js/bootstrap.js"></script>
		<script type="text/javascript" src="##MERCHANT_URL##/javascript/css-framework.js"></script>
		<script type="text/javascript" src="##MERCHANT_URL##/00302-1/design/js/script.js"></script>
	
	</body>
</html>