   <!DOCTYPE html>
<!-- Classes taken from http://html5boilerplate.com/ on 2013-10-25, with additonal classes added  -->
<!--[if lt IE 7]>	  <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7 lt_ie10 lt_ie9 lt_ie8 lt_ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js ie ie-7 lt-ie10 lt-ie9 lt-ie8 ie_7 lt_ie10 lt_ie9 lt_ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js ie ie-8 lt-ie10 lt-ie9 gt-ie7 ie_8 lt_ie10 lt_ie9 gt_ie7"> <![endif]-->
<!--[if IE 9 ]>		<html class="no-js ie ie-9 lt-ie10 gt-ie7 gt-ie8 ie_9 lt_ie10 gt_ie7 gt_ie8"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js ie gt-ie7 gt-ie8 gt-ie9 gt_ie7 gt_ie8 gt_ie9 modern_browser"> <!--<![endif]-->
	<head>
		<!-- BEGIN Shared HEAD_V3 that's pulled in from the global header file and pulled into header.html -->
		##HEAD_V3##
		<!-- END Shared HEAD_V3 that's pulled in from the global header file and pulled into header.html -->
		<!-- http://www.google.com/fonts#UsePlace:use/Collection:Playfair+Display:400italic|Roboto+Condensed:400italic,400,700,300|Roboto:300,300italic,700 -->
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic|Roboto+Condensed:400italic,400,700,300|Roboto:300,300italic,700' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="##MERCHANT_URL##/00302-1/design/js/modernizr.custom.js"></script>

		<!-- If we are IE9 and above, or not IE at all then we can handle rem units we just need the main.css file -->
		<!--[if (gt IE 8)|!(IE)]><!-->
			
         <link rel="stylesheet" href="##MERCHANT_URL##/00302-1/design/font-awesome/css/font-awesome.css">
          <link rel="stylesheet" href="##MERCHANT_URL##/00302-1/design/css/bootstrap.css">
          <link rel="stylesheet" type="text/css" href="##MERCHANT_URL##/00302-1/design/css/main.css" media="all" /> 
         <link rel="stylesheet" href="##MERCHANT_URL##/00302-1/design/css/custom.css">

         <link rel="apple-touch-icon" sizes="57x57" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="##MERCHANT_URL##/00302-1/design/css/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="##MERCHANT_URL##/00302-1/design/css/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="##MERCHANT_URL##/00302-1/design/css/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="##MERCHANT_URL##/00302-1/design/css/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="##MERCHANT_URL##/00302-1/design/css/favicon-16x16.png">
		<!--<![endif]-->
		<!--<![endif]-->

		<!-- If we are IE8 and below we can't handle rem units. We also need to polyfill Media Queries -->
		<!--[if (lt IE 9) ]>
			<link rel="stylesheet" type="text/css" href="##MERCHANT_URL##/00302-1/design/css/main-no-rem.css" media="all" />
			<script type="text/javascript" src="##MERCHANT_URL##/00302-1/design/js/respond.min.js"></script>
		<![endif]-->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-551da6f20f63ea3b" async="async"></script>
	</head>




	<body class="##BODY_CLASSES##">

<div class="container-fluid white header--fixed hide-from-print" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="col-md-7 col-md-push-5 hidden-xs hidden-sm">
  
  <ul class="nav navbar-nav navbar-right social">

          <li><a href="http://facebook.com/killianjewelry" target="_blank"><i class="fa fa-facebook fa-4x" id="socialwater"></i></a></li>
          <li><a href="http://twitter.com/killianjewelry" target="_blank"><i class="fa fa-twitter fa-4x" id="socialwater"></i></a></li>
      <li><a href="http://instagram.com/killianjewelry"><i class="fa fa-instagram fa-4x" id="socialwater"></i></a></li>
                   <li><a href="http://pinterest.com/killianjewelry" target="_blank"><i class="fa fa-pinterest fa-4x" id="socialwater"></i></a></li>
                
      </ul>


      </div>

       <div class="col-md-7 col-md-push-5 visible-sm">
        <br>
  

<ul class="nav navbar-nav navbar-right social">
 
          <a href="http://facebook.com/killianjewelry" target="_blank"><i class="fa fa-facebook fa-4x" id="socialwater"></i></a>
          <a href="http://twitter.com/killianjewelry" target="_blank"><i class="fa fa-twitter fa-4x" id="socialwater"></i></a>
      <a href="http://instagram.com/killianjewelry"><i class="fa fa-instagram fa-4x" id="socialwater"></i></a>
                    <a href="http://pinterest.com/killianjewelry" target="_blank"><i class="fa fa-pinterest fa-4x" id="socialwater"></i></a>
               
</ul>

      </div>
  
      <div class="col-sm-7 col-md-push-5 visible-xs">

          <a href="http://facebook.com/killianjewelry" target="_blank"><i class="fa fa-facebook fa-2x" id="socialwater"></i></a>
          <a href="http://twitter.com/killianjewelry" target="_blank"><i class="fa fa-twitter fa-2x" id="socialwater"></i></a>
      <a href="http://instagram.com/killianjewelry"><i class="fa fa-instagram fa-2x" id="socialwater"></i></a>
                    <a href="http://pinterest.com/killianjewelry" target="_blank"><i class="fa fa-pinterest fa-2x" id="socialwater"></i></a>
               



      </div>
      <div class="col-md-5 col-md-pull-7">
        <a href="/"><img src="##MERCHANT_URL##/00302-1/design/img/coolgrey.jpg" class="img-responsive logo"></a>
      </div>
</div>
    </div>
    <div class="row">
      <div class="col-md-12">     <nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

   <button type="button" class="navbar-toggle collapsed tops" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

        <span class="sr-only">Toggle navigation</span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 
      <span class="navbar-brand"></span>

    </div>

   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
      
<li><a href="http://killianjewelry.com/">HOME</a></li>   
        <li><a href="##MERCHANT_URL##/cart.php?m=view">VIEW CART</a></li>
         <li><a href="##MERCHANT_URL##/cart.php?m=account">MY ACCOUNT</a></li>
          <li><a href="http://killianjewelry.com/contact/">CONTACT</a></li>
 
      </ul>
  

</nav>
 </div>
      </div>
    </div>
  </div>
</div>




			</header>

			<div class="frame">
				<div class="content">
					<div class="left-and-middle-content-wrapper">
						<div id="content-middle" class="content-middle">